python-telegram-bot[job-queue]==20.3
requests==2.31.0
python-dotenv==1.0.0
pdfplumber==0.10.3
httpx==0.24.1
asyncpg==0.30.0
pytz
numpy==1.26.4
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.4.0+cpu
sentence-transformers==2.7.0
transformers==4.40.0